appdirs==1.4.4
asgiref==3.3.1
astroid==2.2.5
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2019.6.16
cffi==1.14.5
chardet==3.0.4
colorama==0.4.4
cryptography==3.4.7
defusedxml==0.6.0
distlib==0.3.1
Django==2.2.13
django-allauth==0.44.0
django-cors-headers==3.7.0
django-countries==7.1
django-rest-auth==0.9.5
djangorestframework==3.9.4
filelock==3.0.12
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1
oauthlib==3.0.1
Pillow==8.2.0
pycodestyle==2.5.0
pycparser==2.20
PyJWT==2.0.1
pylint==2.3.1
python-decouple==3.1
python3-openid==3.1.0
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
soupsieve==2.2.1
speedtest==0.0.1
sqlparse==0.3.0
stripe==2.33.0
typed-ast==1.4.0
urllib3==1.25.3
virtualenv==20.4.3
wrapt==1.11.2
gunicorn==19.7.1